# Byte-compiled / optimized / DLL files
__pycache__/
slurm-*
core
run_*
logs/*
# IPython Notebook
.ipynb_checkpoints

.vscode*
# weights
weights/
*.code-workspace
#DS_Store
.DS_Store
# pycharm
.idea/
__pycache__/
tempr_logs/
tallied_results.txt
extras/annots_12fps_full_v1.0.json
*.tar
### euler codes
experiments/
sub.sh
lsf.*
